<div class="container content-section">
    
    <ngx-primeng-form [form]="form" [items]="formItems">

        <!--Custom control-->
        <ng-template formTemplate="custom" let-control="control">
            {{control|json}}
        </ng-template>

        <!--Placeholder-->
        <ng-template formTemplate="placeholder" let-control="control">
            {{control|json}}
        </ng-template>

    </ngx-primeng-form>

    <button type="button" (click)="submit()">Submit</button>


    <div class="mt-3">
        {{form.value | json}}
    </div>
</div>