<div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th style="width: 5%;">Sl#</th>
                <th style="width: 80%;">Item</th>
                <th style="width: 15%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let rowFormGroup of form.controls;let rowIndex=index">
                <tr [formGroup]="rowFormGroup">
                    <td>{{rowIndex+1}}</td>
                    <td>
                        <input type="text" formControlName="name" class="form-control" />
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary mr-2" (click)="handleAdd()">+</button>
                        <button class="btn btn-sm btn-danger" (click)="handleDelete(rowIndex)">X</button>
                    </td>
                </tr>
            </ng-container>

            <ng-container *ngIf="form.controls.length===0">
                <tr>
                    <td colspan="3" align="center">
                        <button class="btn btn-primary btn-sm" (click)="handleAdd()">+ Add</button>
                    </td>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>